---
import AluminiumProfile from "../component/AluminiumProfile.astro";
import Chapter from "../component/Chapter.astro";
import Page from "../component/Page.astro";
import ProfileCover from "../component/ProfileCover.astro";
import HingesNAccessories from "../component/HingesNAccessories.astro";
import GussetElement from "../component/GussetElement.astro";
import TableOfContent from "../component/TableOfContent.astro";
import FootMount from "../component/FootMount.astro";
import JointNConnector from "../component/JointNConnector.astro";
import BoltsNNuts from "../component/Bolts&Nuts.astro";
import FrontCover from "../component/FrontCover.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Aluminium Profile System Catalogue</title>
	</head>
	<body class="text-[2rem] font-sans">
		<FrontCover />
		<Chapter title="Table of Content" />
		<Page title="Table of Content">
				<TableOfContent />
		</Page>
		<Chapter title="Aluminium Profile"/>
		<Page title="Aluminium Profile">
			<AluminiumProfile />
		</Page>
		<Chapter title="Bolts & Nuts"/>
		<Page title="Bolts & Nuts">
			<BoltsNNuts />
		</Page>
		<Chapter title="Joint & Connector"/>
		<Page title="Joint & Connector">
			<JointNConnector/>
		</Page>
		<Chapter title="Gusset Element"/>
		<Page title="Gusset Element">
			<GussetElement />
		</Page>
		<Chapter title="Panel Hinges & Accessories"/>
		<Page title="Panel Hinges & Accessories">
			<HingesNAccessories />
		</Page>
		<Chapter title="Profile Cover"/>
		<Page title="Profile Cover">
			<ProfileCover />
		</Page>
		<Chapter title="Foot Mount"/>
		<Page title="Foot Mount">
			<FootMount />
		</Page>
	</body>
</html>

<style is:global>
 	@font-face {
    font-family: "Josefin Sans";
    src: url("Josefin Sans-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Helvetica";
    src: url("Helvetica Neue Medium Extended.otf") format("opentype");
  }

  @font-face {
    font-family: "Angkor";
    src: url("Angkor-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Croissant";
    src: url("Croissant One-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Lora";
    src: url("Lora-Regular.ttf") format("truetype");
  }

	:root {
		scroll-behavior: smooth;
	}

	@page {
		size: 2480px 3508px;
		margin: 0 0 150px;
	}

	.chapter {
		page: chapter;
	}

	@page chapter {
		size: 2480px 3508px;
		margin: 0;
	}
	
	td {
		padding: 0;
	}

</style>