---

---

<section class="break-after-page relative min-w-screen min-h-screen">
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-display text-5xl text-indigo-900 whitespace-nowrap">
    <span>
      <slot />
    </span>
  </div>
  <img class="w-full h-screen" src="ChapterPage.png" alt="Chapter Background Image">
</section>