---
const {title} = Astro.props;
---

<section class="chapter break-after-page relative min-w-screen min-h-screen">
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center items-center font-display text-[2rem] text-indigo-900 whitespace-nowrap">
    {title.toUpperCase()}
  </div>
  <img class="w-full h-screen" src="ChapterPage.png" alt="Chapter Background Image">
</section>