---
---
<section class="chapter break-after-page relative min-w-screen min-h-screen">
  <img class="absolute top-2 left-2" src="CoverLogo.png" alt="Cover Logo Image">
  <div class="absolute top-[32%] left-1/2 -translate-x-1/2 -translate-y-[71%] text-center items-center font-display text-2xl text-indigo-900 whitespace-nowrap outline-[15px] outline-offset-8 outline outline-indigo-800">
    CATALOGUE 2023
  </div>
  <img class="absolute top-1/4 left-1/2 -translate-x-1/2 -translate-y-3/4" src="MultiLink.png" alt="MultiLink Image">
  <img class="w-full h-screen" src="FrontCover.png" alt="Front Cover Image">
</section>