---
const {entry, width, height} = Astro.props;

let caption = undefined;
let entryArr = entry.split("(");
let image = entryArr[0];
if (entryArr.length > 1) {
  caption = entryArr[1].slice(0, -1);
}
---

<div class="-z-10 relative rounded-xl outline outline-2 outline-indigo-900" style={`width: ${width?? 30}rem; height: ${height?? 30}rem`}>
  <div class="absolute right-0 left-0 bottom-[0.5rem] text-center">
    {caption}
  </div>
  <img class="mx-auto object-center object-contain" style={`width: ${caption? width ? width - 2 : 28 : width??  "30"}rem; height: ${caption? height ? height - 2 : 28 : height?? 30}rem`} src={"https://drive.google.com/uc?export=view&id=" + image} alt={entry}>
</div>