---
const {title} = Astro.props;
---
<section class="break-after-page">
  <table class="w-full">
    <thead id={title} class="print:static sticky top-0">
      <tr class="w-full">
        <td class="w-full relative">
          <div class="top-1/2 -translate-y-1/2 left-2 z-10 absolute text-white text-lg font-link">
            {title.toUpperCase()}
          </div>
          <img src="Header.png" alt="header Image">
        </td>
      </tr>
    </thead>
    <tbody >
      <slot/>
    </tbody>
  </table>	
</section>