---
const fetchedData = await fetch("http://localhost:5555/aps/Table%20of%20Content").then(response => response.json())
---
<tr>
  <td>
    <div class="grid grid-cols-2 grid-flow-col h-[1123px]">
      {
        fetchedData.status === "ok" ? 
        fetchedData.value.map((category: string[]) => 
          category.map((s: string, i: number) => 
            {
              i === 0 ?
                <div class="font-serif text-lg">{s}</div>
              :
                <div class="font-sans text-">{s}</div>
            }
          )
        )
        :
        <div>Error: {fetchedData.value}</div>
      }
      <div class="w-1/2 flex-shrink-0">
        <div class="bg-blue-100">Test 1</div>
        <div class="bg-blue-100">Test 2</div>
        <div class="bg-blue-100">Test 3</div>
      </div>
      <div class="w-1/2 flex-shrink-0">
        <div class="bg-red-100">Test 1</div>
        <div class="bg-red-100">Test 2</div>
        <div class="bg-red-100">Test 3</div>
      </div>
    </div>
  </td>
</tr>